<div class="card">
  <div class="card-body">
    <h5 class="card-title">Provide your URL</h5>
    <form #userData='ngForm' (ngSubmit) = "createAnUrl(userData)">
      <input ngModel #theURL="ngModel" name="theURL" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter URL">
      <button type="submit" class="btn btn-primary">Generate</button>
    </form>
    <h6 class="card-subtitle mb-2 text-muted">Your short Link: {{gUrl?.slug}}</h6>
  </div>
</div>